<div class="grid-container">
  
  <!-- <mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile style="text-align: center; font-size: x-large;"><u>{{recipeName}}</u><h1 class="mat-h1"></h1>
    </mat-grid-tile>
    
  </mat-grid-list> -->
    
  <div class="container">
    <h2 class="text-center" id="title">{{ recipeName }}</h2>
    <!-- <h3>test </h3> -->
    <div class=row> 
    <h3 class="text-left" id="text-center">Recipe Type : {{ type }} </h3>
    
    </div>
  </div>

<div class="container">
  <h3>
    <mat-card-title>Ingredients:</mat-card-title>
  </h3> 
  
  <mat-list role="list" *ngFor="let ingrid of ingredients">
    <!-- <mat-list-item role="listitem"><mat-card-subtitle>{{ingrid.ingredient}}</mat-card-subtitle> </mat-list-item>
    <mat-list-item role="listitem">{{ingrid.quantity}}</mat-list-item>
    <mat-list-item role="listitem">{{ingrid.macros}}</mat-list-item> -->
    <mat-card class="mat-elevation-z4" > 
        

      <mat-card-subtitle>{{ingrid.ingredient}}</mat-card-subtitle>   
     <p>
     <mat-card-subtitle>{{ingrid.quantity}}</mat-card-subtitle>
     </p>
     <p>
       <mat-card-subtitle>{{ingrid.macros}}</mat-card-subtitle>
       </p>
   </mat-card>
  </mat-list>
  

  <h3>
    Procedure:
  </h3> 
  <mat-list role="list" *ngFor="let step of procedure">
    <mat-card class="mat-elevation-z4" > 
      <mat-card-subtitle>{{step.step}}</mat-card-subtitle>   
    
   </mat-card>
  </mat-list>
  </div>
  

  