<!DOCTYPE html>
  <html>
  <head>
  </head>
  <body style="color: white;">
  
  <h1>Recipe Details</h1>
  
  <table id="recipe details">
    <thead>
        <tr>
          <th>recipeName</th>
          <th>type</th>
        </tr>
        </thead>
        <tbody>
        <tr >
          <td><span>{{recipeName}}</span></td>
          <td><span>{{type}}</span></td>
          <!-- <td><span>{{recipe.procedure}}</span></td>  -->
          <!-- <td><span>{{recipe.ingredients}}</span></td>  -->
          
          
        </tr>
        </tbody>
    
  </table>
  <!-- <a mat-list-item routerLink="/recipe-details/"><button mat-button color="primary">Recipes of these meals(Click Here)</button></a> -->

  </body>
  </html>