<!--
<amplify-auth-container>
  <amplify-authenticator usernameAlias="email">
    <div>
      <app-nav></app-nav>
    </div>
  </amplify-authenticator>
</amplify-auth-container>
-->
<div class="heading" *ngIf="authState !== 'signedin'" >
  <h1 class="title">Endless Meal Plans</h1>
</div>
<amplify-auth-container>
  <amplify-authenticator *ngIf="authState !== 'signedin'" usernameAlias="email">
  
  </amplify-authenticator>
</amplify-auth-container>
<div *ngIf="authState === 'signedin' && user" >
      <app-nav></app-nav>
</div>