<!DOCTYPE html>
<html>
  <head>
    <title>Create-Recipe</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- <style>
      
    </style> -->
  </head>
  <body>
    <div class="testbox">
      <form>
        <div class="banner">
          <h1>Create Recipe</h1>
        </div>

        <div class="item">
          <p>Enter Recipe Name</p>
          <div class="name-item">
             <input type="text" name="recipeName" placeholder="My Recipe" [(ngModel)]="recipeName"/> 
          </div> 
        </div> 
        <div class="item">
          <p>Enter Recipe ingridient details</p>
          <div class="name-item">
            <input type="text" name="ingridient" placeholder="Ingridient" [(ngModel)]="ingridient"/>
            <input type="text" name="quantity" placeholder="Quantity" [(ngModel)]="quantity"/>
            <input type="text" name="macros" placeholder="Macros" [(ngModel)]="macros"/>
          </div>
        </div>
        
       
        <div class="item">
          <p>Procedure</p>
          <textarea rows="3" [(ngModel)]="procedure"></textarea>
        </div>
      
        <div class="btn-block">
          <button  (click)="onSubmit()" >Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>