<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="/">Home</a>
       <!-- <a mat-list-item href="#" *ngIf="checkUserRole(['',''])">Diets</a>-->
        <a mat-list-item routerLink="/mealplan/1" *ngIf="checkUserRole(['user','dietitian','admin'])">Sample Meal Plan</a>
        <a mat-list-item routerLink="/mealplans" *ngIf="checkUserRole(['user','dietitian','admin'])">Meal Plans</a>
        <a mat-list-item routerLink="/recipe" *ngIf="checkUserRole(['user','dietitian','admin'])">Read Recipe</a>
        <a mat-list-item routerLink="createrecipe" *ngIf="checkUserRole(['admin','dietitian'])">Create Recipe</a>
        <!-- <a mat-list-item href="#">Link 3</a> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>ElifeDiet</span>
        <!-- <input type="text" value='search'> -->
        <span class="header-spacer"></span>
        <div style="margin: auto;">
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>search</mat-icon>
        </div>
  
        <span class="header-spacer"></span>
        <div style="margin: auto;">
          <!-- <h4>profile</h4> -->
        <mat-form-field >
        <mat-label> profile</mat-label>
        <mat-select>
        <mat-option > Settings</mat-option>
        <mat-option > Logout</mat-option>
        </mat-select>
        </mat-form-field>
        </div>
        
            
      </mat-toolbar>
  
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
      <div class="chatcontainer" *ngIf="showChat">

        <amplify-chatbot bot-name="lexbot_devmain" 
        bot-title="Meal Plan Chatbot"
        clearOnComplete="true"
        welcome-message="Hello, how can I help you? you can ask me to suggest a meal plan." (chatCompleted)="onBotComplete($event)" class="chat"></amplify-chatbot>
       
      </div>
      
      <div class="chatcontainerdab">
        <button mat-fab color="primary" aria-label="chatbot" (click)="toggleChat()">
          <mat-icon>chat</mat-icon>
        </button>
      </div>
  
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  