<style> 
    .container {
      position: relative;
      max-width: 800px; 
      margin: 0 auto; }
    
    .container .content {  position: absolute; 
      bottom: 0; 
      background: rgb(0, 0, 0); 
      background: rgba(0, 0, 0, 0.5); 
      color: #f1f1f1; 
      width: 100%; 
      padding: 20px; 
    }
        </style>

<div class="image">

    <img src="https://cdn.shopify.com/s/files/1/1517/2462/articles/VeganmealPrep_1512x.jpg" alt="" />

    <h2>Text you want to display over the image</h2>

</div>