<div class="container">
    <h1>Dietitian Requests</h1>
    <button mat-mini-fab color="primary" aria-label="refresh">
        <mat-icon (click)="refresh()">refresh</mat-icon>
      </button>
    <div class="content">
        <div fxLayout="row wrap">
            <div fxFlex="80%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayoutAlign="stretch">
                <div fxLayout="column">
                    
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                        <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
    
                        <!-- Position Column -->
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> User Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action</th>
                            <td mat-cell *matCellDef="let element">
    
                                <mat-icon (click)="action(element.username,'approve')">verified_user</mat-icon>
                                <mat-icon (click)="action(element.username,'reject')">clear</mat-icon>
                            </td>
                        </ng-container>
    
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter </td>
                          </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

                </div>
                  
                
            </div>
        </div>
    </div>
</div>